<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ninja Money</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h4>Your Gold: {{totalgold}}</h4>
    <div class="location">
        <h3>Farm</h3>
        <p>(earns 10-20 golds)</p>
        <form action="/process" method="post">
            <input type="hidden" name="place" value="farm" />
            <button type="submit">Find Gold!</button>
        </form>
    </div>
    <div class="location">
        <h3>Cave</h3>
        <p>(earns 5-10 golds)</p>
        <form action="/process" method="post">
            <input type="hidden" name="place" value="Cave" />
            <button type="submit">Find Gold!</button>
        </form>
    </div>
    <div class="location">
        <h3>House</h3>
        <p>(earns 2-5 golds)</p>
        <form action="/process" method="post">
            <input type="hidden" name="place" value="House" />
            <button type="submit">Find Gold!</button>
        </form>
    </div>
    <div class="location">
        <h3>Casino</h3>
        <p>(earns/takes 0-50 golds)</p>
        <form action="/process" method="post">
            <input type="hidden" name="place" value="Casino" />
            <button type="submit">Find Gold!</button>
        </form>
    </div>
    <h3>Activities:</h3>
    <div class="activities">
        
        <ul>
            {% for y in range(lenlist,-1,-1):%}
                {{ activity[y] | safe}}
            {% endfor %}
        </ul>
    </div>
    <form class='clear' action="/clear" method="POST">
        <button type="submit">play again</button>
    </form>
</body>
</html>